<div th:fragment="teamDialog" id="teamDialog" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="teamDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teamDialogLabel">Create a team</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/team/create}" method="post" th:object="${teamToCreate}" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" value="" class="form-control" id="id" name="id" />
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input th:field="*{name}" value="" type="text" class="form-control" id="name" name="name" />
                    </div>

                    <div class="custom-file mb-3">
                        <label for="carPicture">Car picture:</label>
                        <label class="custom-file-label" for="carPicture">Choose file...</label>
                        <input type="file" name="image" accept="image/png, image/jpeg" class="custom-file-input"
                            id="carPicture" required>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger float-right" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>