<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>400 - Bad request - HE-F1</title>

    <head th:replace="fragments/fragments.html :: header"></head>
</head>

<body>
    <!-- Replace fragment  -->
    <div th:replace="fragments/fragments.html :: navigation"></div>

    <div class="container mt-sm-3">
        <div class="alert alert-danger" role="alert">
            <h1>Error 400 : Bad request ...</h1>
            <table>
                <tr>
                    <td>Path : </td>
                    <td th:text="${path}" />
                </tr>
                <tr>
                    <td>Message : </td>
                    <td th:text="${message}" />
                </tr>
                <tr>
            </table>

        </div>
    </div>

    <div th:replace="fragments/fragments.html :: scripts"></div>
</body>

</html>