<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Home - HE-F1</title>

    <head th:replace="fragments/fragments.html :: header"></head>
</head>

<body>
    <!-- Replace fragment  -->
    <div th:replace="fragments/fragments.html :: navigation"></div>

    <div class="container mt-sm-3">
        <h1>HE-F1 - Home</h1>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vjdwQDXxrfY" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

    <div th:replace="fragments/fragments.html :: scripts"></div>
</body>

</html>