<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Login</title>

    <head th:replace="fragments/fragments.html :: header"></head>
</head>

<body>
    <!-- Replace fragment  -->
    <div th:replace="fragments/fragments.html :: navigation"></div>

    <div>
        <h1>Home page</h1>
    </div>

    <div th:replace="fragments/fragments.html :: scripts"></div>
</body>

</html>