<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Team - HE-F1</title>

    <head th:replace="fragments/fragments.html :: header"></head>
</head>

<body>
    <!-- Menu -->
    <div th:replace="fragments/fragments.html :: navigation"></div>

    <!-- Create a team  -->
    <div class="container mt-sm-3" th:if="${teamToCreate != null}">
        <div class="alert alert-danger" role="alert">
            You are not part of any team at the moment...
        </div>
        <button type="button" class="btn btn-danger btn-block" data-bs-toggle="modal" data-bs-target="#teamDialog">
            Create a team
        </button>
        <th:block th:replace="fragments/teamdialog.html :: teamDialog"></th:block>
    </div>

    <!-- Display team properties -->
    <div th:if="${teamToCreate == null}" th:object="${team}" style="margin:30px;">
        <div class="row justify-content-between">
            <div class="col-9">
                <h1 th:text="*{name}"></h1>
            </div>
            <div class="col-3">
                <h3 th:text="*{'Budget : ' + budget + '$'}"></h3>
            </div>
        </div>
        <!-- Pieces list -->
        <div class="row justify-content-between">
            <div class="col-3">
                <div class="accordion" id="accordionExample">
                    <div th:each="carPiece: ${carPieces}" class="card">
                        <div class="card-header" th:id="${carPiece.piece.id}">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left" type="button" data-bs-toggle="collapse"
                                    th:data-bs-target="'#collapse' + ${carPiece.piece.id}" aria-expanded="true"
                                    th:aria-controls="'collapse' + ${carPiece.piece.id}"
                                    th:text="${carPiece.piece.name}">
                                </button>
                            </h2>
                        </div>

                        <div th:id="'collapse' + ${carPiece.piece.id}" class="collapse"
                            th:aria-labelledby="${carPiece.piece.id}" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"></h5>
                                    <small th:text="${'Usure   :' + carPiece.wear + '%'}"></small>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"></h5>
                                    <small th:text="${'Level  :' + carPiece.level}"></small>
                                </div>

                                <div class="d-flex w-100 justify-content-between">
                                    <p class="mb-1"
                                        th:text="${'Repair   :' + carPiece.piece.baseRepairPrice * carPiece.level + '$'}">
                                    </p>
                                    <p class="mb-1"
                                        th:text="${'Repair time :' + carPiece.piece.baseRepairTime * carPiece.level}">
                                    </p>
                                    <button type="submit" class="btn-sm btn-danger mb-1">Repair</button>
                                </div>

                                <div th:object="${car}" class="d-flex w-100 justify-content-between">
                                    <p class="mb-1"
                                        th:text="${'Upgrade :' + carPiece.piece.baseUpgradePrice * carPiece.level + '$'}">
                                    </p>
                                    <form class="form-inline my-2 my-lg-0" th:action="@{'/car/upgrade/' + ${carPiece.id} + '/' + ${team.id} + '/' + ${car.id}}" method="post">
                                        <input type="submit" class="btn-sm btn-danger" value="Upgrade"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Car switch buttons -->
            <div class="col-9">
                <div class="row justify-content-end">
                    <div class="flex col-4 btn-group" role="group" aria-label="select-car" style="margin-bottom:10px;">

                        <!-- On car 1 view -->
                        <div th:if="${carId1 == car.id}">
                            <form th:action="@{${carUrl2}}" method="get">
                                <button class="btn btn-danger" th:text="*{driver1}" disabled></button>
                                <button type="submit" class="btn btn-outline-danger"  th:text="*{driver2}"></button>
                            </form>
                        </div>

                        <!-- On car 2 view -->
                        <div th:if="${carId2 == car.id}">
                            <form th:action="@{${carUrl1}}" method="get">
                                <button type="submit" class="btn btn-outline-danger" th:text="*{driver1}"></button>
                                <button class="btn btn-danger"  th:text="*{driver2}" disabled></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card col-12">
                    <img width="100%" height="auto" th:src="@{*{getCarImagePath()}}" th:alt="${car.name}" />
                </div>
            </div>
        </div>
    </div>

    <!-- Include scripts -->
    <div th:replace="fragments/fragments.html :: scripts"></div>
    <script>
        var teamDialog = document.getElementById('teamDialog')

        teamDialog.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
        })
    </script>
</body>

</html>