<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Team</title>

    <head th:replace="fragments/fragments.html :: header"></head>
</head>

<body>
    <!-- Replace fragment  -->
    <div th:replace="fragments/fragments.html :: navigation"></div>

    <div th:each="carPiece: ${carPieces}" style="margin:30px;">
        <div class="row justify-content-between">
            <div class="col-12">
                <p th:text="${carPiece.level}"></p>
                <p th:text="${carPiece.wear + '%'}"></p>
                <p th:text="${carPiece.piece.name}"></p>
            </div>
        </div>
    </div>

    <div th:replace="fragments/fragments.html :: scripts"></div>
    <script>
        var teamDialog = document.getElementById('teamDialog')

        teamDialog.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
        })
    </script>
</body>

</html>